.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  background-color: $dark-background-color;

  @include tablet {
    display: flex;
    justify-content: space-around;

    height: 463px;
  }

  @include desktop {
    flex-direction: row;
  }
}

.logo {
  @include logo;
  @include transition;
  @include hover-scale;

  &--footer {
    display: flex;

    justify-content: center;

    @include tablet {
      left: 30%;
      margin-bottom: 20px;
    }

    @include desktop {
      justify-content: left;
    }
  }

  &__span {
    color: $active-color;
  }

  &__span--white {
    color: $secondary-text-color;
  }
}

.address {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @include desktop {
      align-items: flex-start;
    }

    @include tablet {
      flex-direction: column;
      right: 50%;
    }
  }

  &__item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:hover,
  &__item:focus {
    color: $active-color;
    $footer-text-color: $active-color;
    transform: scale(1.05);
  }
  &__link {
    line-height: 1.46;
    color: $secondary-text-color;
    font-family: var(--main-font);
    font-style: normal;
    letter-spacing: 0.03em;
  }
  &__contact {
    color: $footer-text-color;
    line-height: 1.46;
    letter-spacing: 0.03em;
    font-family: $main-font;
    font-style: normal;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;

  &__head {
    color: $secondary-text-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  &__item {
    border-radius: 50%;
    background-color: $footer-icon-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 12px;
  }
  &__icon {
    fill: $secondary-text-color;
    display: block;
  }

  &__item:hover,
  &__item:focus {
    background-color: $active-color;
    $icon-color: $secondary-text-color;
    cursor: pointer;
    transform: scale(1.05);
  }

  @include tablet {
    top: 65px;
    right: 89px;
  }
  @include desktop {
    display: block;
  }
}

.signup {
  margin-top: 30px;

  @include tablet {
    bottom: 60px;
    left: 50%;
    right: 50%;
  }
  @include desktop {
    display: block;
    margin-left: 70px;
  }

  &__head {
    display: flex;
    justify-content: center;
    color: $secondary-text-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  &__input {
    width: 330px;
    height: 50px;
    background-color: transparent;
    border: solid 1px;
    border-radius: 4px;
    border-color: $form-window-border;
    padding-left: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
      align-items: center;
    }
  }
  &__button {
    height: 50px;
    width: 200px;
    background-color: $active-color;
    color: $secondary-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    text-align: center;
    align-items: baseline;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 20px;
    padding-left: 28px;
  }
  &__button:hover,
  &__button:focus {
    transform: scale(1.05);
    cursor: pointer;
  }
  &__icon {
    fill: $secondary-text-color;
    margin-left: 20px;
    position: relative;
    top: 7px;
  }
  &__input:focus-within {
    color: $secondary-text-color;
  }
}
