.futures {
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-team-section;

    border-radius: 4px;
    height: 120px;

    @include tablet {
      padding: 25px 143px;
    }

    @include desktop {
      padding: 25px 100px;
      text-align: center;
    }
  }
  &__icon {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    color: $main-text-color;
    font-weight: $fontMedium;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: $grid-margin;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $grid-margin;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    display: block;
    text-align: center;

    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }

  &__text {
    text-align: left;
    color: $paragraf-text-color;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
    align-items: center;

    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
}
