.header {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // max-height: 60px;

  &--border {
    border-bottom: 1px solid $border-color;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 60px;

    @include tablet {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 10px 0;
    }
    @include desktop {
      align-items: center;
      padding: 25px 0 25px;
      height: 80px;
    }
  }

  // display: none;
}
.logo {
  @include logo;
  @include transition;
  @include hover-scale;

  &__span {
    color: $active-color;
  }

  &__span--black {
    color: $main-text-color;
  }
}

.nav {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    margin-left: 83px;
  }

  @include desktop {
    display: flex;
  }

  &__list {
    display: flex;
    font-weight: $fontSmall;
    align-content: space-between;
    gap: 46px;
    // color: $main-text-color;

    @include desktop {
      display: flex;
      margin-left: 93px;
    }
  }

  &__item {
    display: block;
  }

  &__link {
    color: $main-text-color;
    display: block;
  }
  &__link--blue {
    color: $super-blue;

    &__underline {
      color: $super-blue;
      position: relative;

      @include transition;

      @include hover-active;
    }
    &__underline::after {
      content: "";
      display: block;
      width: 100%;
      color: $super-blue;
      height: 4px;
      position: absolute;
      border-radius: 4px;
      bottom: 0;
    }
  }
}

.contact {
  display: none;
  gap: 50px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-left: auto;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }

  &__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }

  &__link {
    font-weight: $fontSmall;
    color: $paragraf-text-color;
    display: flex;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include hover-active;
  }
}
