.hero {
  display: none;
  background-color: $dark-background-color;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(../images/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    color: $secondary-text-color;
    letter-spacing: 0.06em;
    margin: 0 auto;
    max-width: 696px;
  }

  &__button {
    margin-top: 40px;
    background-color: $active-color;
    color: $secondary-text-color;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border: none;
    padding: 10px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    background-color: $active-color;
    color: $secondary-text-color;
    cursor: pointer;
    transform: scale(1.05);
  }
  @media screen and (max-width: 480px) {
  }
}
