.modal {
  display: none;
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: $background-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;

  &__form {
    padding: 40px;
  }
  &__header {
    text-align: center;
    color: $main-text-color;
    font-weight: $fontMedium;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 10px;
  }
  &__label {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $paragraf-text-color;
  }
  &__icon {
    fill: var(--main-text-color);
    position: absolute;
    display: block;
    top: 55%;
    left: 15px;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: solid 1px $modal-form-border;
    border-radius: 4px;
    outline-color: $modal-form-border;
    margin-top: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__input:focus-within,
  &__label:focus-within,
  &__textarea:focus-within {
    fill: $active-color;
    outline-color: $active-color;
  }
  &__textarea {
    width: 100%;
    height: auto;
    border: solid 1px $modal-form-border;
    border-radius: 4px;
    outline-color: $modal-form-border;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    resize: none;
  }
  &__link {
    text-decoration: underline;
    color: $active-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
  }
  &__checkbox-text {
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: $paragraf-text-color;
    margin-bottom: 28px;
    margin-left: 37px;
  }
  &__button {
    padding: 10px 76px;
    font-weight: $fontMedium;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    background-color: $active-color;
    color: $secondary-text-color;
    border: none;
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button-section {
    text-align: center;
  }

  &__button:hover,
  &__button:focus {
    transform: scale(1.05);
    cursor: pointer;
  }

  &__icon-tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    visibility: hidden;
    border-radius: 2px;
    top: 0;
    margin-left: 15px;
  }
  &__icon-tick-box {
    position: absolute;
    border-radius: 2px;
    margin-left: 15px;
  }
  &__checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }
  &__checkbox-input:checked ~ &__icon-tick-box {
    display: none;
  }
  &__checkbox-input:checked ~ &__icon-tick {
    background-color: $active-color;
    visibility: visible;
  }
  &__link:hover,
  &__link:focus {
    transform: scale(1.05);
    font-weight: $fontMedium;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-background-color;
  z-index: 100;
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  display: block;
  right: 9px;
  top: 9px;
  border: 1px solid $modal-button-stroke;
  border-radius: 50%;
  cursor: pointer;

  transform: scale(1.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
}
.close-btn:hover,
.close-btn:focus {
  transform: scale(1.05);
  background-color: $active-color;
  color: $secondary-text-color;
}
.xclose {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
