$background-color: #ffffff;
$background-section: #e5e5e5;
$dark-background-color: #2f303a;
$background-team-section: #f5f4fa;
$main-text-color: #212121;
$secondary-text-color: #ffffff;
$active-color: #2196f3;
$logo-text-color: #000000 25%;
$footer-text-color: rgba(255, 255, 255, 0.6);
$paragraf-text-color: #757575;
$icon-color: #afb1b8;
$container-color: #eeeeee;
$border-color: #ececec;
$footer-icon-color: rgba(255, 255, 255, 0.1);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$modal-button-stroke: rgba(0, 0, 0, 0.1);
$form-window-border: rgba(255, 255, 255, 0.3);
$modal-form-border: rgba(33, 33, 33, 0.2);
$modal-text-color: rgba(117, 117, 117, 0.5);
$main-font: "Roboto", "sans-serif";
$secondary-font: "Raleway", "sans-serif";
$grid-margin: 30px;
$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;
$super-blue: #2196f3;
$vertical-stroke-color: #212121 20%;
